.mobileBackground img{
    width: 375px;
    position: absolute;
    z-index: -1;
}
.mobileBackground {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    height: 667px;
}
body {
    background-color: rgb(144, 161, 199);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #D6CAB9;
}
.mobileScreen {
    z-index: 100;
    height: 100%;
}
.buttonPrimary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #D6CAB9;
    text-decoration: none;
}

.buttonPrimaryQuiz {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #D6CAB9;
    text-decoration: none;
}

.buttonPrimary:hover {
    color: #fcf3e6;
}

.buttonPrimaryDark {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(51, 65, 110);
    text-decoration: none;
}

#newGameButton {
    text-align: center;
}

#choose {
    text-align: center;
}


#shakeButton {
    background-color: rgb(110, 119, 153);
    text-align: center;
}

.buttonPrimaryDark:hover {
    color:  rgb(110, 119, 153);;
}

.buttonGroup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.invitationContainer {
    margin-top: 450px;
    margin-left: auto;
    margin-right: auto;
}
.container {
    padding: 30px 30px;
    box-sizing: content-box;
    box-sizing: border-box;
}
h1 {
    margin: 0;
}
.invitationCodeField {
    background-color: rgba(51, 65, 110, 0.7);
    border-radius: 10px;
    padding: 7px 5px;
    margin-bottom: 20px;
    text-align: center;
}
#invitationCode {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #D6CAB9;
    text-decoration: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}

#invitationCode::placeholder{
    color: #D6CAB9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contentContainer{
    background-color: rgba(51, 65, 110, 0.9);
    border-radius: 40px;
    margin: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    height: 80%;
}

.contentContainerGroup{
    display: grid;
    box-sizing: border-box;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
}

.gridElement{
    background-color: rgba(51, 65, 110, 0.9);
    border-radius: 20px;
    padding: 10px;
    padding-top: 2px;
    min-height: 140px;
    cursor: pointer;
}


.gridElementQuiz{
    background-color: rgba(51, 65, 110, 0.9);
    border-radius: 20px;
    padding: 10px;
    max-height: 100px;
}

.gridElementQuiz:hover {
    background-color: rgba(51, 65, 110, 0.6)
}

.contentContainerGroupQuiz{
    display: grid;
    box-sizing: border-box;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
    height: fit-content;
}

.flex{
    display: flex;
    height: 100%;
    align-items: flex-end;
    height: 400px;
}

#bottle{
    max-width: 30%;
    transform: translateX(-50%) rotate(0);
    position: relative;
    left: 50%;
    transition: .4s transform ease-in-out;
}

#bottle.bottleTurn{
    transform: translateX(-50%) rotate(180deg);
}

#bottle.bottleShake{
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.quizQuestionField {
    background-color: rgba(51, 65, 110, 0.7);
    border-radius: 10px;
    padding: 20px 30px;
}

#r1{
    background-image: url("img/captainKringelbartImg.jpg");
    background-size: 100%;
}

#r2{
    background-image: url("img/sollyImg.jpg");
    background-size: 100%;
}

#r3{
    background-image: url("img/holzbeinTimoImg.jpg");
    background-size: 100%;
}

#r4{
    background-image: url("img/poppyImg.jpg");
    background-size: 100%;
}

#r1.r1Choosen{
    background-image: url("img/captainKringelbartChoosenImg.jpg");
    background-size: 100%;
}

#r2.r2Choosen{
    background-image: url("img/sollyChoosenImg.jpg");
    background-size: 100%;
}

#r3.r3Choosen{
    background-image: url("img/holzbeinTimoChoosenImg.jpg");
    background-size: 100%;
}

#r4.r4Choosen{
    background-image: url("img/poppyChoosenImg.jpg");
    background-size: 100%;
}

.gridElement p{
    text-align: center;
    color:rgba(51, 65, 110, 1);
    margin: 0;
}

.sandBackground{
    background-image: url("./img/sandImg.jpg");
}

#canvas{
    width: 100%;
    height: 100%;
}